// MBP 14" viewport
$page-max-width: 1512px;
$page-horizontal-padding: 5rem;
$border-radius: 1.5rem;

@mixin container {
  max-width: $page-max-width;
  margin: 0 auto;
  padding: 0 $page-horizontal-padding;
}
