$color-majorelle-blue: #624cf5;
$color-coral-reef: #fa776c;

$color-vivid-cerulean: #02a6ff;
$color-portland-orange: #ff4d2d;
$color-cyber-yellow: #ffd507;
$color-dark-lemon-lime: #75bf15;

$color-pure-white: #fff;
$color-pure-black: #000;
