.logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: inherit;
}

.image {
  height: 2.5rem;
  width: auto;
  margin-right: 0.5rem;
}

.text {
  font-size: 1.75rem;
  font-weight: 600;
}
