@import "index.scss";

.header {
  position: sticky;
  top: 0;
  background-color: $color-pure-white;
}

.wrapper {
  @include container;

  padding-top: 1rem;
  padding-bottom: 1rem;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-decoration: none;
  color: inherit;
  flex: 0;
  margin-right: 5rem;
  font-weight: 600;
  font-size: 1.5rem;

  > img {
    height: 2rem;
    width: auto;
    margin-right: 0.5rem;
  }
}

.search {
  flex: 1;
}

.auth {
  flex: 0;
}
