@import "index.scss";

$margin: 3rem;

.main {
  @include container;
  margin: $margin auto;
  flex: 1;
}

.events {
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(auto-fill, var(--card-width, minmax(300px, 1fr)));
  justify-content: space-between;
  gap: $margin;
}

.title {
  margin-bottom: $margin;
}

.link {
  text-decoration: none;
  color: inherit;
}
